@model ProjectViewModel

@{
    ViewData["Title"] = "Add Project";
}
<div id="addprojectModal" class="modal">
    <div class="modal-content">

        <div class="modal-header">
            <h3>Add Project</h3>
            <button type="button" class="btn-close" data-close="true"></button>
        </div>

        <form novalidate method="post" asp-action="Add" asp-controller="Projects" enctype="multipart/form-data">
            <div class="form-group">
                <label asp-for="Image"></label>
                <div class="field-group">
                    <input asp-for="Image" type="file" accept="image/*" />
                    <span asp-validation-for="Image"></span>
                </div>
            </div>
            <div class="form-group">
                <label asp-for="ProjectName"></label>
                <div class="field-group">
                    <input asp-for="ProjectName" />
                    <span asp-validation-for="ProjectName"></span>
                </div>
            </div>
            <div class="form-group">
                <label asp-for="ClientName"></label>
                <input asp-for="ClientName" />
                <span asp-validation-for="ClientName"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description"></label>
                <div class="field-group">
                    <textarea asp-for="Description" ></textarea>
                    <span asp-validation-for="Description"></span>
                </div>
            </div>
            <div class="form-group">
                <label asp-for="StartDate"></label>
                <div class="field-group">
                    <input asp-for="StartDate" />
                    <span asp-validation-for="StartDate"></span>
                </div>
            </div>
            <div class="form-group">
                <label asp-for="EndDate"></label>
                <div class="field-group">
                    <input asp-for="EndDate" />
                    <span asp-validation-for="EndDate"></span>
                </div>
            </div>
            <div class="form-group">
                <label asp-for="SelectedMemberIds"></label>
                <div class="field-group">
                        @foreach (var member in Model.ProjectMembers)
                        {
                            <div data-id="@member.Id">
                                <span>@member.Name</span>
                                <button type="button" class="btn btn-remove" data-close="true">x</button>
                                <input type="hidden" name="SelectedMemberIds" value="@member.Id" />
                            </div>
                        }
                        <div>
                        <input type="text" id="memberSearch" placeholder="Search for members..." />
                            <button type="button" class="btn btn-outline-secondary" id="btnShowMembers">
                            <i class="bi bi-search"></i>
                            </button>
                        </div>
                </div>
                <div id="membersDropdown" class="members-list">
                    @foreach (var member in Model.AvailableMembers)
                    {
                        <div class="member-item" data-id="@member.Id" data-name="@member.Name">
                            <img src="@member.Image" alt="@member.Name" />
                            <span>@member.Name</span>
                        </div>
                    }
                    <div class="no-results">
                        <h3>No members found.</h3>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <label asp-for="Budget"></label>
                <div class="field-group">
                    <input asp-for="Budget"  type="number" min="0"/>
                    <span asp-validation-for="Budget">$</span>
                </div>
            </div>
            <button type="submit" class="btn btn-submit btn-blue">Create</button>
        </form>

    </div>

</div>

